.home-container {
    padding: 24px;
}

.home-header {
  width: 100%;
  height: 50px;

  .home-title {
    float: left;
    font-size: 20px;
    font-weight: bold;
  }

  .home-user {
    float: right;
  }
}

.home-date-field {
  width: 100%;
  height: 100px;

  .home-calendar {
    float: left;
  }

  .home-date-picker {
    float: left;
    width: 200px;
  }
}

.home-chart-frame {
  float: left;
}

.home-template-chart {
  height: 50px;
  width: 650px;
}

.home-schedule-item {
  height: 60px;

  .home-room-field {
    width: 200px;
    float: left;

    .home-room-name {
      float: left;
      font-size: 16px;
      font-weight: bold;
    }

    .home-room-button-field {
      float: left;
      margin-left: 10px;

      nz-button {
        width: 70px;
      }
    }
  }
}

.home-modal-time-field {
    margin: 5px;
}
